html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

p, a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

a {
    text-decoration: none;
}

#container {
    max-width: 850px;
    margin: 0 auto;
}

#container > section:nth-of-type(2) {
    background-color: #dcb9a3;
    color: white;
    line-height: 1.25rem;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#container > section:nth-of-type(2) > p:nth-of-type(2) {
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3% 0;
}

nav > a {
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    width: 9rem;
}

nav > a:first-of-type {
    background-color: #ff754e;
}

nav > a:first-of-type:hover {
    background: transparent;
    border: 3px solid #ff754e;
    color: #ff754e;
    padding: 7px 15px;
}

nav > a:nth-of-type(2) {
    background-color: #5fd3ec;
}

nav > a:nth-of-type(2):hover {
    background: transparent;
    border: 3px solid #5fd3ec;
    color: #5fd3ec;
    padding: 7px 11px;
}

nav > a:nth-of-type(3) {
    background-color: #ffcd6a;
}

nav > a:nth-of-type(3):hover {
    background: transparent;
    border: 3px solid #ffcd6a;
    color: #ffcd6a;
    padding: 7px 15px;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#header > img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-right: 5%;
}

#header > article {
    text-align: center;
    line-height: 1.25rem;
}

#header > article > h1 {
    font-size: 3rem;
    margin: 50px 0px 30px 0px;
}

#header > article > p {
    font-size: 1rem;
}

#header > article > p:nth-of-type(2) {
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
}

.card {
    width: 23%;
    margin: 0 auto;
    font-size: .65rem;
    text-align: center;
    margin-bottom: 30px;
}

.card > img {
    width: 45%;
}

.bold {
    font-weight: bold;
}

footer > img {
    margin: 0px;
    height: 150px;
    object-fit: cover;
    object-position: 0px -55px;
    width: 100%;
}

#bottomNav {
    background-color: #f9e7dc;
    margin: 0px;
    padding: 25px 0px;
}

#bottomNav > a:first-of-type:hover {
    background-color: #c94f2d;
    border-color: #c94f2d;
    color: white;
}

#bottomNav > a:nth-of-type(2):hover {
    background-color: #3ba8c0;
    border-color: #3ba8c0;
    color: white;
}

#bottomNav > a:nth-of-type(3):hover {
    background-color: #d7a94f;
    border-color: #d7a94f;
    color: white;
}